/* .service-container {
  padding: 3rem;
}

.service-cards-container-others {
  padding: 3rem 15vw;
}

.service-cards-others {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .service-cards-container-others {
    padding: 1rem 7vw;
  } 
}

@media screen and (max-width: 1000px) {
  .service-cards-container-others {
    padding: 1rem .5vw;
  } 
}

@media screen and (max-width: 800px) {  
  .service-card-container {
    margin: 1.5rem 0;
  }

  .service-cards-others {
    display: flex;
    flex-direction: column;
  }
} */