/* border: 1px solid red; */

.header-container {
  width: 100%;
  height: 750px;
}

.header-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
}

.header-container h3 {
  color: #fff;
  font-size: 4vw;
  letter-spacing: 2px;
}

@media screen and (max-width: 850px) {
  .header-container {
    height: 450px;
  }

  .header-container h3 {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .header-container {
    height: 350px;
  }

  .header-container h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {
  .header-container {
    height: 250px;
  }

  .header-container h3 {
    font-size: 20px;
  }
}
