footer {
  width: 100vw;
  height: 500px;
  background-color: #ec4125;
  color: #fff;
  padding: 2vh 5vw;
}

.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer h4 {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #B9B9B9;
  padding: 7px 0;
}

.footer h6 {
  font-size: 15px;
  font-family: 'Helvetica';
  padding: 7px 0;
}

.special h6{
  padding-right: 5px;
  font-size: 15px;
  font-family: 'Helvetica';
}

.contact-location img {
  width: 2.5rem;
  background-color: transparent;
  padding-right: 7px;
}

.contact-location h6 {
  font-size: 15px;
}

.footer-quick-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-location { 
  display: flex;
  align-items: center;
  padding: 7px 0;
}

.footer-logo {
  margin-top: 10px;
  width: 12rem;
  height: auto;
}

.footer-logo img {
  width: 100%;
}

.social {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.social > a {
  padding: 0 13px;
  font-size: 25px;
  padding-bottom: 1rem;
  border-bottom: 3px solid #C4C4C4;
  color: #fff;
}

.copyright {
  margin: 10px;
  text-align: center;
}

.copyright p{
  font-size: 14px;
}

.powered{
  display: flex;
  justify-content: flex-end; 
  padding-top: 7px;
}

.bolt img{
  height: 1.8rem;
  padding-right: 3px;
}

.josla-icon img{
  width: 7rem;
}

@media screen and (max-width: 960px) {
  footer {
    height: 660px;
  }

  .footer-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 3px 15px;
  }

  .footer-logo {
    margin-top: 1rem;
    width: 13rem;
    height: auto;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer h4 {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #B9B9B9;
    padding: 3px 0;
  }
  
  .footer h6 {
    font-size: 14px;
    font-family: 'Helvetica';
    line-height: 23px;
    padding: 0.5rem 0;
  }
  
  .social > a {
    padding: 0 15px;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #C4C4C4;
    color: #fff;
  }

  .copyright {
    margin: 10px;
    text-align: center;
  }

  .copyright p {
    font-size: 10px;
  }

  .powered{
    display: flex;
    justify-content: flex-end; 
    padding-top: 1rem;
  }

  .bolt img{
    height: 1.8rem;
    padding-right: 3px;
  }
  
  .josla-icon img{
    width: 6rem;
  }
}

@media screen and (max-width: 500px) {
  footer {
    height: 700px;
    padding-left: 6vw;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
  }

  .footer-services, 
  .footer-company, 
  .footer-support, 
  .footer-quick-contact {
    margin-top: 2rem;
  }

    a .footer-logo {
    margin-top: 3rem;
    width: 7rem;
    height: auto;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer h4 {
    line-height: 20px;
    margin-bottom: .3rem;
  }

  .footer h6 {
    padding: 0px;
    font-size: 12px;
  }

  .contact-location img {
    width: 2rem;
    background-color: transparent;
    padding-right: 7px;
  }

  .social > a {
    padding: 0 17px;
    font-size: 15px;
    padding-bottom: .8rem;
    border-bottom: 1.5px solid #C4C4C4;
    color: #fff;
  }

}