
.form2-container {
  width: 35rem;
  background: #000;
  height: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.form2-inner-container {
  margin: 0 auto;
  width: 95%;
}

.form2-fields-container {
  padding: 20px 10px;
}

#form2-contact input[type="text"],
#form2-contact input[type="email"],
#form2-contact input[type="tel"],
#form2-contact textarea,
#form2-contact button[type="submit"] {
  font: 400 15px "Nunito", Helvetica, Arial, sans-serif;
}

#form2-contact {
  padding: 15px;
}

#form2-contact h3 {
  padding: 20px 0 2px 0;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 20px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#form2-contact input[type="text"],
#form2-contact input[type="email"],
#form2-contact input[type="tel"],
#form2-contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #F1F0F0;
  margin: 0 0 5px;
  padding: 10px;
  color: #ec4125;
}

#form2-contact input[type="text"]:hover,
#form2-contact input[type="email"]:hover,
#form2-contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#form2-contact textarea {
  height: 200px;
  max-width: 100%;
  resize: none;
}

#form2-contact button[type="submit"] {
  cursor: pointer;
  width: 45%;
  border: none;
  background: #ec4125;
  color: #FFF;
  border: 2px solid #ec4125;
  border-radius: 5px;
  margin: 4rem 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form2-contact button[type="submit"]:hover {
  color: #ec4125;
  background: #FFF;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#form2-contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#form2-contact input:focus,
#form2-contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media screen and (max-width: 1200px) {
  .form2-container {
    width: 60vw;
  }
}

@media screen and (max-width: 850px) { 
  .form2-container {
    width: 75vw;
  }

  .inner-container {
    margin: 0 auto;
    width: 80%;
  }

  .fields-container {
    padding: 0;
  }

  #form2-contact h3 {
    font-size: 17px;
  }

  #form2-contact button[type="submit"] {
    width: 100%;
  }
}
